
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{{> header}}


<main>
  <div id="search" style="display: none">
    <form id="search-person-carelogs" method='GET' action='/carelogssearch'>
      <input type="text" name="inputid" placeholder="firstname lastname" id="input-id-carelogs-search">
      <input class="modify" type="submit" value="go">
      <input class="modify" type="button" value="reset" onClick="browseRecords()">
    </form>
    <p></p>
  </div>

  <div id="browse">
    <table id="carelogs_table">
      {{!-- Header section --}}
      <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
          <th width=110px><button class="modify" onClick="newRecord()">add</button></th>
          <th width=4%>id</th>
          <th>bat</th>
          <th>person</th>
          <th>date/time</th>
          <th>weight</th>
          <th>food</th>
          <th>medical</th>
          <th>remark</th>
          <th width="5%"></th>
          <th width="5%"><button class="modify" onClick="searchRecord()">search</button></th>
        </tr>
      </thead>

      {{!-- Body section --}}
      <tbody>
        {{#each data}}
        <tr>
          <td></td>
          <td class="id">{{this.idCareLog}}</td>
          <td>{{this.idBat}}</td>
          <td>{{this.name}}</td>
          <td>{{this.dateTime}}</td>
          <td>{{this.weight}}</td>
          <td>{{this.foodType}}</td>
          <td>{{this.medicalCares}}</td>
          <td>{{this.remark}}</td>
          <td><button class="modify"
              onClick="editRecord('{{this.idCareLog}}', '{{this.name}}', '{{this.weight}}', '{{this.foodType}}', '{{this.remark}}')">edit</button>
          </td>
          <td><button class="modify accent" onclick="deleteCareLog({{this.idCareLog}})">delete</button></td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
  
  <div id="insert" style="display: none">
    <form id="add_carelog_form_ajax">
      <fieldset class="fields">
        <table class="insert_table">
          <tr>
            <th>bat</th>
            <th>person</th>
            <th>weight (g)</th>
            <th>food (mw)</th>
            <th>medical</th>
            <th>remark</th>
          </tr>
          <tr>
            <td>
              <select name="bats" id="input_bat">
                <option value="" disabled selected>select</option>
                {{#each bats}}
                <option>{{this.idBat}}</option>
                {{/each}}
              </select>
            </td>
            <td>
              <select name="person" id="input_person">
                <option value="" disabled selected>select</option>
                {{#each persons}}
                <option value="{{this.idPerson}}">{{this.name}}</option>
                {{/each}}
              </select>
            </td>
            <td>
              <input type="number" name="input_weight" id="input_weight" placeholder="0.0" max="9.99" min="0.00">
            </td>
            <td>
              <input type="text" name="input_food" id="input_food" placeholder="00 mw">
            </td>
            <td>
              <div class="checkbox-list">
                {{#each medicalcares}}
                <label><input type="checkbox" name="input_medical_care" class="input_medical_care"
                    value="{{this.idMedicalCare}}"> {{this.treatment}}</label>
                {{/each}}
              </div>
            </td>
            <td>
              <textarea name="remark" id="input_remark" placeholder="max. 250 characters"></textarea>
            </td>
          </tr>
        </table>
      </fieldset>
      <div class="space"></div>
      <div class="actions">
        <button class="modify confirm" type="submit" id="addCareLog" value="commit">commit</button>
        <button class="modify accent" type="button" onClick="browseRecords()">cancel</button>
      </div>
    </form>
  </div>
</main>

<div id="edit" style="display: none">
  <form id="update-carelog-form-ajax">
    <table class="update_table">
      <tr>
        <th>care log</th>
        <th>person</th>
        <th>weight (g)</th>
        <th>food (mw)</th>
        <th>medical</th>
        <th>remark</th>
      </tr>
      <tr>
        <td>
          <input type="integer" id="idToUpdate" name="input_id" value="{{this.idCareLog}}" readonly />
        </td>
        <td>
          <select name="input_person" id="input_person_update">
            {{#each persons}}
            <option value="{{this.idPerson}}">{{this.name}}</option>
            {{/each}}
          </select>
        </td>
        <td>
          <input type="number" name="input_weight" id="input_weight_update" value="{{this.weight}}" max="9.99"
            min="0.00">
        </td>
        <td>
          <input type="text" name="input_food" id="input_food_update" value="{{this.foodType}}">
        </td>
        <td>
        </td>
        <td>
          <textarea name="input_remark" id="input_remark_update" value="{{this.remark}}"></textarea>
        </td>
      </tr>
    </table>
    <div class="space"></div>
    <button type="submit" class="modify">commit</button>
    <button class="modify accent" type="button" onClick="browseRecords()">cancel</button>

  </form>
</div>



{{!-- Embed JS handle the DOM manipulation and AJAX request --}}
<script src="js/add_carelog.js"></script>
<script src="js/delete_carelog.js"></script>
<script src="js/update_carelog.js"></script>