		{{> header}}

<!-- index.hbs -->
<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>

{{!-- Create a table --}}
<table id = "bats_table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.idBat}}</td>
            <td>{{this.person}}</td>
            <td>{{this.species}}</td>
            <td>{{this.sex}}</td>
            <td>{{this.foundDate}}</td>
            <td>{{this.foundSite}}</td>
            <td>{{this.endDate}}</td>
            <td>{{this.releaseSite}}</td>
            <td>{{this.status}}</td>
            <td>{{this.remark}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2>Adding Data with AJAX</h2>
<p>Add a new bat... test</p>
<form id="add_bat_form_ajax">
    <label for="input_person">person</label>
    <input type="text" name="input_person" id="input_person">
    
    <label for="input_species">species</label>
    <input type="text" name="input_species" id="input_species">

    <label for="input_sex">sex</label>
    <input type="text" name="input_sex" id="input_sex">

    <label for="input_date_found">date found</label>
    <input type="date" name="input_date_found" id="input_date_found">

    <label for="input_site_found">site found</label>
    <input type="number" name="input_site_found" id="input_site_found">

    <label for="input_remark">site found</label>
    <input type="text" name="input_remarks" id="input_remarks">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_bats.js"></script>