		{{> header}}

<!-- index.hbs -->

{{!-- Create a table --}}
<table id = "carelogs_table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr>
            <td>{{this.idCareLog}}</td>
            <td>{{this.bats}}</td>
            <td>{{this.person}}</td>
            <td>{{this.dateTime}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.food}}</td>
            <td>{{this.medical}}</td>
            <td>{{this.remark}}</td>
            <td></td>
            <td></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<p>Add a new care log...</p>
<form id="add_bat_form_ajax">
    <label for="input_bat">bat</label>
    <input type="text" name="input_bat" id="input_bat">
    
    <label for="input_person">person</label>
    <input type="text" name="input_person" id="input_person">

    <label for="input_weight">weight</label>
    <input type="text" name="input_weight" id="input_weight">

    <label for="input_food">food</label>
    <input type="text" name="input_food" id="input_food">

    <label for="input_medical_care">medical</label>
    <input type="input_medical_care" name="input_medical_care" id="input_medical_care">

    <label for="input_remark">remark</label>
    <input type="text" name="input_remarks" id="input_remarks">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_carelogs.js"></script>